<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{> nav}} <!-- Incluye el contenido del partial nav.handlebars -->
    <main>
        <h1>{{ pageTitle }}</h1>
        {{#if cart.length}}
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cart}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.quantity}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>No hay productos en el carrito.</p>
        {{/if}}
    </main>
</body>
</html>
